@import url('https://fonts.googleapis.com/css2?family=Epilogue:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Antonio:wght@100;200;300;400;500;600;700&display=swap');
.header {
	background-color: rgba(0, 0, 0, 0.809);
	position: fixed;
	left: 0;
	top: 0;
	height: 100vh;
	width: 15rem;
	z-index: 1;
	color: white;
	box-shadow: 0.1rem 0.1rem 1rem black;

	&_title {
		padding: 0rem 1rem;
		font-family: 'Epilogue', sans-serif;
		text-transform: uppercase;
		text-align: center;
	}

	&_nav {
		padding-top: 1.5rem;
	}
	&_footer {
		font-family: 'Antonio', sans-serif;
		text-transform: uppercase;
		justify-content: space-between;
		display: flex;
		// padding: 1rem;
		position: absolute;
		bottom: 0;
		// margin: 1rem;

		width: 100%;
	}
	&_footer-date {
		padding-left: 0.5rem;
	}
	&_footer-details {
		padding-right: 0.5rem;
	}

	&_social-network {
		display: flex;
		flex-wrap: wrap;
		justify-content: center;
		margin: 2.5rem 2rem;
	}
}

.logo-social {
	width: 3rem;
	margin: 1rem;
	flex-wrap: wrap;
	box-shadow: 0.1rem 0.1rem 1rem rgba(0, 0, 0, 0.672);
	border-radius: 50%;
	transition: transform 0.2s;
	background-color: rgb(255, 255, 255);
	// border: 0.1rem solid black;
}

.logo-social:hover {
	transform: scale(1.1);
}

input {
	border: none;
	border-radius: 1rem;
	line-height: 1.5rem;
	font-weight: bold;
	font-family: 'Antonio', sans-serif;
	padding-left: 1rem;
	margin-top: 1.5rem;
	margin-left: 1.9rem;
	box-shadow: 0.1rem 0.1rem 1rem black;
	width: 10rem;
}

li {
	list-style: none;
	margin-bottom: 0.5rem;
	font-family: 'Antonio', sans-serif;
}

li > a {
	text-decoration: none;
	position: relative;
	color: white;
	text-transform: uppercase;
	font-weight: bold;
}

li > a::before {
	content: '';
	position: absolute;
	width: 100%;
	height: 0.1rem;
	background-color: white;
	bottom: 0;
	left: 0;
	visibility: hidden;
	transform: scaleX(0);
	transition: all 0.3s ease-in-out 0s;
}

li > a:hover::before {
	visibility: visible;
	transform: scaleX(1);
	// text-decoration: underline;
}

.active {
	background-color: white;
	color: black;
	border-radius: 0.5rem;
	padding: 0rem 0.5rem;
}
